body {
    font-family: Arial, sans-serif;
    background: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #A9A9A9;
    padding: 20px;
    border-radius: 10px;
    width: 690px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border: 3px solid black;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

.preview-section {
    text-align: center;
}

.preview-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Aumenta el tamaño para mejor visibilidad */
    height: 210px; /* Permite que la altura se adapte */
    max-height: 300px;
    background: black;
    border-radius: 10px;
    border: 5px solid white;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.preview-box img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}


.form-section {
    display: flex;
    font-size: 20px;
    width: 400px;
    flex-direction: column;
    margin: 50px 0;
    margin-left: 140px;
}

label {
    font-weight: bold;
    margin-top: 20px;
}

input, select {
    background: black;
    color: white;
    border: 5px solid white;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
}

.summary-section {
    text-align: center;
    margin-top: 50px;
}

.summary-box {
    background: black;
    width: 450px;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: 5px solid white;
    margin: 10px auto 0 auto;
}

.editable-box {
    min-height: 60px;
    max-height: none;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    outline: none;
}
